body{
    margin-left: 305px;
    margin-right: 315px;
}
h1{
    text-align: center;
    font-size: 19pt;
}
div#figure{
    float: left;
    width: 25%;
    margin-left: 40px;
}
img#img1{
    width: 225px;
    padding-top: 18px;
}
figcaption#fig{
    padding-left: 75px;
    font-size: 10pt;
}
div#text{
    padding-left: 297px;
    text-align: justify;
    color:blue;
    text-indent: 2.5em;
    font-size: 11.5pt;
}
h2#title1{
    font-size: 20px;
    padding-top: 25px;
}
div.box {
    width: 250px;
    display: inline-block;
}
.imagem {
    width: 225px;
}