body{
    margin-left: 300px;
    margin-right: 315px;
}
h1{
    text-align: center;
    font-size: 19pt;
}
.figure{
    float: left;
    width: 25%;
    margin-left: 40px;
}
.img1{
    width: 225px;
    padding-top: 18px;
}
.fig{
    padding-left: 75px;
    font-size: 10pt;
}
div#text{
    padding-left: 297px;
    text-align: justify;
    color:blue;
    text-indent: 2.5em;
    font-size: 11.5pt;
}
.text2{
    text-align: justify;
    text-indent: 2.5em;
    font-size: 11.5pt;
}
div#text3{
    padding-left: 297px;
    text-align: justify;
    text-indent: 2.5em;
    font-size: 11.5pt;
}
div#text4{
    padding-left: 297px;
    padding-bottom: 10px;
    text-align: justify;
    text-indent: 2.5em;
    font-size: 11.5pt;
}
div#figure1{
    float: right;
    width: 25%;
}
img#img2{
    width: 225px;
    padding-top: 18px;
}
figcaption#fig5{
    padding-left: 55px;
    font-size: 10pt;
}
div#text5{
    padding-right: 260px;
    text-align: justify;
    text-indent: 2.5em;
    font-size: 11.5pt;
}
.title2{
    text-align: left;
    font-size: 15pt;
}
.title3{
    text-align: left;
    font-size: 12pt;
    color:blue;
}
div#imagens{
    float: right;
    padding-right: 50px;
}
div#imagens2{
    float: right;
}
img#imgMM{
    width: 225px;
    padding-top: 18px;
    padding-right: 30px;
}
figcaption#fig10{
    padding-left: 55px;
    font-size: 10pt;
}
img#imgM{
    width: 225px;
    padding-top: 18px;
    padding-right: 20px;
}
figcaption#fig11{
    padding-left: 55px;
    font-size: 10pt;
}
div#text10{
    padding-right: 600px;
    padding-top:5px;
    text-align: justify;
    font-size: 11.5pt;
}
div#lista{
    padding-top:5px;
    text-align: justify;
    text-indent: 2.5em;
    font-size: 10pt;
}
.imagem {
    text-align: center;
    width: 225px;
    height: 150px;
}
.boximg {
    width: 100%;
}
.grade1 {
    float: left;
    width: 25%;
    margin-left: 20px;
    margin-right: 50px;
}
.boximg2 {
    width: 100%;
}
.grade2 {
    float: left;
    width: 25%;
    margin-left: 20px;
    margin-right: 50px;
}
.fig10{
    padding-left: 100px;
    font-size: 10pt;
}